body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #73aedb;
  text-align: center;
  color: #fcf064;
  font-size: 3em;
  height: 400px;
}

footer {
  background-color: black;
  text-align: center;
  color: lightblue;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header h1 {
  font-size: 1.5em;
  margin-top: 20px;
  font-family: 'Permanent Marker', cursive;
}

.ending-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ending-form input {
  margin: 10px;
  font-size: 1em;
}
.ending-form label{
  font-weight: bold;
}
.ending-form input,label {
  height: 40px;
  width: 300px;
}
.modal{
  transition: 0.4s;
  background-color: #fcf064;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.black-screen{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.40);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
}
.btn-start {
  background-color: #ffc107;
}
.btn-yes {
  background-color: #28a745;
}

.btn-no {
  background-color: #ff0018;
}

.btn-add-guess {
  background-color: #fd7e14;
  width: 250px;
  color: white;
}
